// for usrcv udstv 
unsigned int MERGE_amin(unsigned int val1, unsigned int val2);
value_t MERGE_mergefunc(value_t value1, value_t value2, unsigned int GraphAlgo);

{%for n in context['T_seq']%}
{%if(n>=1)%}
void MERGE_readandreplicate{{n}}vdata(bool_type enable, uint512_dt * vdram, batch_type dramoffset_kvs, {%for i in context['T_seq']%}{%if(i<n)%}keyvalue_vbuffer_t buffer{{i}}[VDATA_PACKINGSIZE][BLOCKRAM_SIZE],{%endif%}{%endfor%} unsigned int begincol, batch_type bufferoffset_kvs, buffer_type size_kvs, globalparams_t globalparams);
{%endif%}
{%endfor%}

{%for n in context['T_seq']%}
{%if(n>=1)%}
void MERGE_merge{{n}}andsavevdata(bool_type enable, uint512_dt * vdram, {%for i in context['T_seq']%}{%if(i<n)%}keyvalue_vbuffer_t vbuffer{{i}}[VDATA_PACKINGSIZE][BLOCKRAM_SIZE],{%endif%}{%endfor%} unsigned int begincol, batch_type bufferoffset_kvs, unsigned int dramoffset_kvs); 
{%endif%}
{%endfor%}









