value_t PROCESS{{context['id']}}_processfunc(value_t udata, value_t edgew, unsigned int GraphAlgo);

value_t REDUCE{{context['id']}}_reducefunc(value_t vtemp, value_t res, unsigned int GraphIter, unsigned int GraphAlgo);







