#include "reduceupdates.h"
using namespace std;

#ifdef SW
reduceupdates::reduceupdates(){ actsutilityobj = new actsutility(); acts_utilobj = new acts_util(); }
reduceupdates::~reduceupdates(){}
#endif

value_t 
	#ifdef SW 
	reduceupdates::
	#endif 
REDUCE_reducefunc(value_t vtemp, value_t res, unsigned int GraphIter, unsigned int GraphAlgo){
	value_t temp = 0;
	if(GraphAlgo == PAGERANK){
		temp = vtemp + res;
	} else if(GraphAlgo == BFS){
		temp = acts_utilobj->UTIL_amin(vtemp, GraphIter);
	} else if(GraphAlgo == SSSP){
		temp = acts_utilobj->UTIL_amin(vtemp, res);
	} else {
		temp = NAp;
	}
	return temp;
}

void 
	#ifdef SW 
	reduceupdates::
	#endif
REDUCE_reducevector(unsigned int col, keyvalue_buffer_t kvdata, keyvalue_vbuffer_t destbuffer[BLOCKRAM_SIZE], unit1_type vmaskBITS[DOUBLE_BLOCKRAM_SIZE], buffer_type destoffset, unsigned int upperlimit, sweepparams_t sweepparams, globalparams_t globalparams){
	#pragma HLS PIPELINE II=3
	analysis_type analysis_loop1 = VECTOR_SIZE;
	
	keyvalue_t mykeyvalue = acts_utilobj->UTIL_GETKV(kvdata);
	
	#ifdef CONFIG_SPLIT_DESTVTXS
	vertex_t loc = ((mykeyvalue.key - upperlimit) - col) >> NUM_PARTITIONS_POW;
	#else 
	vertex_t loc = mykeyvalue.key - upperlimit;
	#endif 
	#ifdef _DEBUGMODE_KERNELPRINTS
	cout<<"REDUCE_reducevector:: col: "<<col<<", loc: "<<loc<<", mykeyvalue.key: "<<mykeyvalue.key<<", mykeyvalue.value: "<<mykeyvalue.value<<endl;
	#endif 
	
	bool en = true; if(mykeyvalue.key != acts_utilobj->UTIL_GETK(INVALIDDATA) && mykeyvalue.value != acts_utilobj->UTIL_GETV(INVALIDDATA)){ en = true; } else { en = false; }
	
	#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3 // upperlimit + loc
	if(en == true){ cout<<"REDUCE_reducevector:: REDUCE SEEN @ vid: "<<acts_utilobj->UTIL_GETREALVID(mykeyvalue.key, globalparams.ACTSPARAMS_INSTID)<<", loc: "<<loc<<", mykeyvalue.key: "<<mykeyvalue.key<<", mykeyvalue.value: "<<mykeyvalue.value<<", upperlimit: "<<upperlimit<<", reduce size: "<<globalparams.SIZE_REDUCE<<endl; }
	#endif 
	
	if(loc >= globalparams.SIZE_REDUCE && en == true){ 
		if(true){ cout<<"REDUCE_reducevector::ERROR SEEN @ loc("<<loc<<") >= globalparams.SIZE_REDUCE("<<globalparams.SIZE_REDUCE<<"). mykeyvalue.key: "<<mykeyvalue.key<<", upperlimit: "<<upperlimit<<", col: "<<col<<". EXITING... "<<endl; exit(EXIT_FAILURE); }
		#ifdef _DEBUGMODE_CHECKS2
		actsutilityobj->reducehelper_checkreduceloc(0, loc, mykeyvalue, sweepparams, globalparams); 
		#endif 
		loc = 0; }

	vertex_t rowindex = loc / 2;
	vertex_t colindex = loc % 2;
	
	keyvalue_t curr_vprop;
	if(en == true){ curr_vprop = acts_utilobj->UTIL_GETKV2(destbuffer[destoffset + rowindex]); }
	
	value_t temp;
	if(colindex == 0){ temp = curr_vprop.key; }
	else { temp = curr_vprop.value; }
	
	value_t new_vprop = REDUCE_reducefunc(temp, mykeyvalue.value, globalparams.ALGORITHMINFO_GRAPHITERATIONID, globalparams.ALGORITHMINFO_GRAPHALGORITHMID);
	#ifdef _DEBUGMODE_KERNELPRINTS
	if(en == true){ cout<<"REDUCE_reducevector:: REDUCEFUNC RESULT @ new_vprop: "<<new_vprop<<", temp: "<<temp<<", mykeyvalue.value: "<<mykeyvalue.value<<", NAp: "<<NAp<<endl; }
	#endif 
	
	/* if(en == true && new_vprop != temp){
		if(colindex == 0){ curr_vprop.key = new_vprop; }
		else { curr_vprop.value = new_vprop; }
	} */
	if(en == true && new_vprop != temp){ // CORRECT ONE.
		if(colindex == 0){ curr_vprop.key = globalparams.ALGORITHMINFO_GRAPHITERATIONID; }
		else { curr_vprop.value = globalparams.ALGORITHMINFO_GRAPHITERATIONID; }
	}
	/* if(en == true){
		if(colindex == 0){ curr_vprop.key = globalparams.ALGORITHMINFO_GRAPHITERATIONID; }
		else { curr_vprop.value = globalparams.ALGORITHMINFO_GRAPHITERATIONID; }
	} */
	/* if(en == true && temp > 64 && globalparams.ALGORITHMINFO_GRAPHITERATIONID < 2){
		if(colindex == 0){ curr_vprop.key = globalparams.ALGORITHMINFO_GRAPHITERATIONID; }
		else { curr_vprop.value = globalparams.ALGORITHMINFO_GRAPHITERATIONID; }
	} */
	
	// if(en == true){ destbuffer[destoffset + rowindex] = acts_utilobj->UTIL_GETKV2(curr_vprop); }
	// if(en == true && new_vprop == globalparams.ALGORITHMINFO_GRAPHITERATIONID && globalparams.ALGORITHMINFO_GRAPHITERATIONID < 2){ destbuffer[destoffset + rowindex] = acts_utilobj->UTIL_GETKV2(curr_vprop); }
	// destbuffer[destoffset + rowindex] = acts_utilobj->UTIL_GETKV2(curr_vprop); v
	// if(en == true && new_vprop == globalparams.ALGORITHMINFO_GRAPHITERATIONID){ destbuffer[destoffset + rowindex] = acts_utilobj->UTIL_GETKV2(curr_vprop); }
	if(en == true && new_vprop != temp){ destbuffer[destoffset + rowindex] = acts_utilobj->UTIL_GETKV2(curr_vprop); } // CORRECT ONE.
	// if(en == true && temp > 64 && globalparams.ALGORITHMINFO_GRAPHITERATIONID < 2){ destbuffer[destoffset + rowindex] = acts_utilobj->UTIL_GETKV2(curr_vprop); }
	
	// new_vprop == globalparams.ALGORITHMINFO_GRAPHITERATIONID
	/* #ifdef COLLECTMASKINFOS // mask information
	if(en == true && mykeyvalue.value != temp){ vmaskBITS[loc].data = 1; }
	#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3
	if(en == true && mykeyvalue.value != temp){ cout<<"REDUCE_reducevector:: ACTIVE MASK SEEN AT: vmaskBITS["<<loc<<"].data: "<<vmaskBITS[loc].data<<endl; }
	#endif 
	#endif */	
	/* #ifdef COLLECTMASKINFOS // mask information
	if(en == true && new_vprop != temp){ destbuffer[destoffset + rowindex] = acts_utilobj->UTIL_GETKV2(curr_vprop); vmaskBITS[loc].data = 1; }
	#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3
	if(en == true && new_vprop != temp){ cout<<"REDUCE_reducevector:: ACTIVE MASK SEEN AT: vmaskBITS["<<loc<<"].data: "<<vmaskBITS[loc].data<<endl; }
	#endif 
	#endif	 */
	/* #ifdef COLLECTMASKINFOS // mask information
	if(en == true && new_vprop != temp){ destbuffer[destoffset + rowindex] = acts_utilobj->UTIL_GETKV2(curr_vprop); vmaskBITS[loc].data = 1; }
	#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3
	if(en == true && new_vprop != temp){ cout<<"REDUCE_reducevector:: ACTIVE MASK SEEN AT: vmaskBITS["<<loc<<"].data: "<<vmaskBITS[loc].data<<endl; }
	#endif 
	#endif	 */	
	#ifdef COLLECTMASKINFOS // mask information CORRECT ONE.
	if(en == true && new_vprop != temp){ vmaskBITS[loc] = 1; }
	#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3
	if(en == true && new_vprop != temp){ cout<<"REDUCE_reducevector:: ACTIVE MASK SEEN AT: vmaskBITS["<<loc<<"]: "<<vmaskBITS[loc]<<endl; }
	#endif 
	#endif
	/* #ifdef COLLECTMASKINFOS // mask information
	if(en == true && temp > 64 && globalparams.ALGORITHMINFO_GRAPHITERATIONID < 2){ vmaskBITS[loc].data = 1; }
	#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3
	if(en == true && temp > 64 && globalparams.ALGORITHMINFO_GRAPHITERATIONID < 2){ cout<<"REDUCE_reducevector:: ACTIVE MASK SEEN AT: vmaskBITS["<<loc<<"].data: "<<vmaskBITS[loc].data<<endl; }
	#endif 
	#endif */
	
	#ifdef _DEBUGMODE_STATS
	actsutilityobj->globalstats_countkvsreduced(1);
	if(en == true){ actsutilityobj->globalstats_reduce_countvalidkvsreduced(1); }
	#endif
	return;
}

void 
	#ifdef SW 
	reduceupdates::
	#endif 
REDUCE_reduceandbuffer(bool_type enable, keyvalue_buffer_t buffer[VECTOR_SIZE][DESTBLOCKRAM_SIZE], keyvalue_capsule_t localcapsule[MAX_NUM_PARTITIONS], keyvalue_vbuffer_t vbuffer[VDATA_PACKINGSIZE][BLOCKRAM_SIZE], unit1_type vmaskBITS[VMASK_PACKINGSIZE][DOUBLE_BLOCKRAM_SIZE], sweepparams_t sweepparams, globalparams_t globalparams){				
	if(enable == OFF){ return; }
	#if REDUCEBUFFERFACTOR==8
	analysis_type analysis_loopcount = (DESTBLOCKRAM_SIZE / (NUM_PARTITIONS / 2)); // =46: '2' is safety padding.
	#endif 
	#if REDUCEBUFFERFACTOR==16
	analysis_type analysis_loopcount = (DESTBLOCKRAM_SIZE / NUM_PARTITIONS);
	#endif 
	
	{%for p in context['BRAMwidth_seq']%}
	keyvalue_buffer_t kvdata{{p}};
	{%endfor%}
	buffer_type bramoffset_kvs[MAX_NUM_PARTITIONS];
	#pragma HLS ARRAY_PARTITION variable=bramoffset_kvs complete
	buffer_type size_kvs[MAX_NUM_PARTITIONS];
	#pragma HLS ARRAY_PARTITION variable=size_kvs complete
	unsigned int upperlimits[MAX_NUM_PARTITIONS];
	#pragma HLS ARRAY_PARTITION variable=upperlimits complete
	
	#ifdef _DEBUGMODE_KERNELPRINTS
	actsutilityobj->printkeyvalues("reduceandbuffer.localcapsule", (keyvalue_t *)localcapsule, NUM_PARTITIONS);
	#endif
	// exit(EXIT_SUCCESS); ////

	unsigned int tmplloprange = 0;
	#if REDUCEBUFFERFACTOR==8
	REDUCEBUFFERPARTITIONS_LOOP1: for(unsigned int it=0; it<NUM_PARTITIONS; it+=NUM_PARTITIONS/2){
		buffer_type maxsize_kvs = 0;
		REDUCEBUFFERPARTITIONS_LOOP1B: for(partition_type p=0; p<NUM_PARTITIONS/2; p++){
		#pragma HLS PIPELINE II=1
			bramoffset_kvs[p] = localcapsule[it+p].key / VECTOR_SIZE;
			size_kvs[p] = localcapsule[it+p].value / VECTOR_SIZE;
			if(maxsize_kvs < size_kvs[p]){ maxsize_kvs = size_kvs[p]; }
		}
		
		unsigned int lloprange = acts_utilobj->UTIL_getrangeforeachllop(globalparams);
		REDUCEBUFFERPARTITIONS_LOOP1C: for(unsigned int p=0; p<NUM_PARTITIONS/2; p++){
		#pragma HLS PIPELINE II=1
			upperlimits[p] = sweepparams.upperlimit + tmplloprange;
			tmplloprange += lloprange;
		}
		
		REDUCEBUFFERPARTITIONS_LOOP1D: for(buffer_type i=0; i<maxsize_kvs; i++){
		#pragma HLS LOOP_TRIPCOUNT min=0 max=analysis_loopcount avg=analysis_loopcount
		#pragma HLS PIPELINE II=16
			for(vector_type v=0; v<VECTOR_SIZE; v++){
				{%for p in context['8_seq']%}
				kvdata{{p}} = buffer[v][bramoffset_kvs[{{p}}] + i]; 	
				{%endfor%}	

				#ifdef CONFIG_SPLIT_DESTVTXS
				{%for p in context['8_seq']%}
				if(i< size_kvs[{{p}}]){ REDUCE_reducevector(it+{{p}}, kvdata{{p}}, vbuffer[it+{{p}}], vmaskBITS[it+{{p}}], 0, sweepparams.upperlimit, sweepparams, globalparams); }
				{%endfor%}
				#else 
				{%for p in context['8_seq']%}
				if(i< size_kvs[{{p}}]){ REDUCE_reducevector(it+{{p}}, kvdata{{p}}, vbuffer[it+{{p}}], vmaskBITS[it+{{p}}], 0, upperlimits[{{p}}], sweepparams, globalparams); }
				{%endfor%}
				#endif 
			}
		}
	}
	#endif 
	#if REDUCEBUFFERFACTOR==16 // NOT USED.
	buffer_type maxsize_kvs = 0;
	REDUCEBUFFERPARTITIONS_LOOP1B: for(partition_type p=0; p<NUM_PARTITIONS; p++){
	#pragma HLS PIPELINE II=1
		bramoffset_kvs[p] = localcapsule[p].key / VECTOR_SIZE;
		size_kvs[p] = localcapsule[p].value / VECTOR_SIZE;
		if(maxsize_kvs < size_kvs[p]){ maxsize_kvs = size_kvs[p]; }
	}
	
	unsigned int lloprange = acts_utilobj->UTIL_getrangeforeachllop(globalparams);
	REDUCEBUFFERPARTITIONS_LOOP1C: for(unsigned int p=0; p<NUM_PARTITIONS; p++){
	#pragma HLS PIPELINE II=1
		upperlimits[p] = sweepparams.upperlimit + tmplloprange;
		tmplloprange += lloprange;
	}
	
	REDUCEBUFFERPARTITIONS_LOOP1D: for(buffer_type i=0; i<maxsize_kvs; i++){
	#pragma HLS LOOP_TRIPCOUNT min=0 max=analysis_loopcount avg=analysis_loopcount
	#pragma HLS PIPELINE II=16
		for(vector_type v=0; v<VECTOR_SIZE; v++){
			{%for p in context['BRAMwidth_seq']%}
			kvdata{{p}} = buffer[v][bramoffset_kvs[{{p}}] + i]; 	
			{%endfor%}	

			#ifdef CONFIG_SPLIT_DESTVTXS
			{%for p in context['BRAMwidth_seq']%}
			if(i< size_kvs[{{p}}]){ REDUCE_reducevector(it+{{p}}, kvdata{{p}}, vbuffer[{{p}}], vmaskBITS[{{p}}], 0, sweepparams.upperlimit, sweepparams, globalparams); }
			{%endfor%}
			#else 
			{%for p in context['BRAMwidth_seq']%}
			if(i< size_kvs[{{p}}]){ REDUCE_reducevector(it+{{p}}, kvdata{{p}}, vbuffer[{{p}}], vmaskBITS[{{p}}], 0, upperlimits[{{p}}], sweepparams, globalparams); }
			{%endfor%}	
			#endif 
		}
	}
	#endif 
	// exit(EXIT_SUCCESS); ////
	return;
}

void 
	#ifdef SW 
	reduceupdates::
	#endif 
REDUCE_priorreduceandbuffer(bool_type enable, keyvalue_buffer_t buffer[VECTOR_SIZE][SOURCEBLOCKRAM_SIZE], keyvalue_capsule_t localcapsule[MAX_NUM_PARTITIONS], keyvalue_vbuffer_t vbuffer[VDATA_PACKINGSIZE][BLOCKRAM_SIZE], unit1_type vmaskBITS[VMASK_PACKINGSIZE][DOUBLE_BLOCKRAM_SIZE], buffer_type chunk_size, sweepparams_t sweepparams, globalparams_t globalparams){				
	if(enable == OFF){ return; }
	analysis_type analysis_loopcount = SOURCEBLOCKRAM_SIZE;
	
	#ifdef _DEBUGMODE_KERNELPRINTS
	actsutilityobj->printkeyvalues("priorreduceandbuffer.localcapsule", (keyvalue_t *)localcapsule, 8);
	#endif 
	
	PRIORREDUCEANDBUFFER_LOOP1: for(buffer_type i=0; i<chunk_size; i++){
	#pragma HLS LOOP_TRIPCOUNT min=0 max=analysis_loopcount avg=analysis_loopcount
	#pragma HLS PIPELINE II=16 // NEWCHANGE.
		PRIORREDUCEANDBUFFER_LOOP1B: for(unsigned int v=0; v<VECTOR_SIZE; v++){
		// #pragma HLS PIPELINE II=1 // NEWCHANGE.
			keyvalue_buffer_t kv = buffer[v][i];
			keyvalue_t kv2 = acts_utilobj->UTIL_GETKV(kv);
		
			partition_type p = ((kv2.key - sweepparams.upperlimit) >> (REDUCESZ_POW));
			
			unsigned int upperlimit = sweepparams.upperlimit + p*REDUCESZ;
			
			#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3
			cout<<"priorreduceandbuffer: kv2.key: "<<kv2.key<<", kv2.value: "<<kv2.value<<", p: "<<p<<", upperlimit: "<<upperlimit<<", sweepparams.upperlimit: "<<sweepparams.upperlimit<<", currentLOP: "<<sweepparams.currentLOP<<endl;
			#endif 
			
			if(p < VDATA_PACKINGSIZE){ REDUCE_reducevector(p, kv, vbuffer[p], vmaskBITS[p], 0, upperlimit, sweepparams, globalparams); } // REMOVEME.
		}
	}
	return;
}

void
	#ifdef SW
	reduceupdates::
	#endif 
REDUCE_tradreduceandbuffer(bool_type enable, uint512_dt * kvdram, keyvalue_buffer_t buffer[VECTOR_SIZE][SOURCEBLOCKRAM_SIZE], buffer_type chunk_size, keyvalue_t globalstatsbuffer[MAX_NUM_PARTITIONS], sweepparams_t sweepparams, globalparams_t globalparams){				
	if(enable == OFF){ return; }
	analysis_type analysis_loopcount = SOURCEBLOCKRAM_SIZE;
	
	TRADREDUCEANDBUFFER_LOOP1: for(buffer_type i=0; i<chunk_size; i++){
	#pragma HLS LOOP_TRIPCOUNT min=0 max=analysis_loopcount avg=analysis_loopcount
		TRADREDUCEANDBUFFER_LOOP1B: for(unsigned int v=0; v<VECTOR_SIZE; v++){
		#pragma HLS PIPELINE II=1 // NEWCHANGE.
			keyvalue_buffer_t kv = buffer[v][i];
			keyvalue_t kv2 = acts_utilobj->UTIL_GETKV(kv);
			
			if(kv2.key != acts_utilobj->UTIL_GETV(INVALIDDATA) && kv2.value != acts_utilobj->UTIL_GETV(INVALIDDATA)){
			
				unsigned int block = kv2.key / (REDUCESZ * VECTOR_SIZE); // REDUCESZ, globalparams.SIZE_REDUCE 
				unsigned int globalpos_offset = block * (REDUCESZ * VECTOR_SIZE);
				unsigned int globalrow_offset = globalpos_offset / VECTOR2_SIZE;
				
				unsigned int localpos = kv2.key % (REDUCESZ * VECTOR_SIZE); // 8192;
				unsigned int localrow = (localpos % REDUCESZ) / 2;
				unsigned int localcol = localpos / REDUCESZ;
				
				unsigned int row = globalrow_offset + localrow;
				unsigned int col = localcol;
				
				#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3
				cout<<"REDUCE SEEN @ tradreduceandbuffer:: kv2.key: "<<kv2.key<<", kv2.value: "<<kv2.value<<" || block: "<<block<<", row: "<<row<<", col: "<<col<<" || localpos: "<<localpos<<", localrow: "<<localrow<<", localcol: "<<localcol<<endl;
				#endif
				
				value_t temp;
				uint512_vec_dt vdata;
				#pragma HLS data_pack variable=vdata
				
				#ifdef _WIDEWORD
				{%for v in context['VECTOR_SIZE_seq']%}
				vdata.data[{{v}}].key = kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].range({{32 * ((v * 2) + 1) - 1}}, {{(v * 2) * 32}});
				vdata.data[{{v}}].value = kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].range({{32 * (((v * 2) + 1) + 1) - 1}}, {{(v * 2 + 1) * 32}});
				{%endfor%}
				#else 
				{%for v in context['VECTOR_SIZE_seq']%}
				vdata.data[{{v}}].key = kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].data[{{v}}].key; 
				vdata.data[{{v}}].value = kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].data[{{v}}].value; 
				{%endfor%}
				#endif
				
				if(localpos % 2 == 0){ temp = vdata.data[localcol].key; }
				else { temp = vdata.data[localcol].value; }
				
				value_t new_vprop = REDUCE_reducefunc(temp, kv2.value, globalparams.ALGORITHMINFO_GRAPHITERATIONID, globalparams.ALGORITHMINFO_GRAPHALGORITHMID);
				
				if(localpos % 2 == 0){ vdata.data[localcol].key = new_vprop; }
				else { vdata.data[localcol].value = new_vprop; }
				
				#ifdef _WIDEWORD
				{%for v in context['VECTOR_SIZE_seq']%}
				kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].range({{32 * ((v * 2) + 1) - 1}}, {{(v * 2) * 32}}) = vdata.data[{{v}}].key;
				kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].range({{32 * (((v * 2) + 1) + 1) - 1}}, {{(v * 2 + 1) * 32}}) = vdata.data[{{v}}].value;
				{%endfor%}
				#else 
				{%for v in context['VECTOR_SIZE_seq']%}
				kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].data[{{v}}].key = vdata.data[{{v}}].key; 
				kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].data[{{v}}].value = vdata.data[{{v}}].value; 
				{%endfor%}
				#endif
				
				partition_type p = acts_utilobj->UTIL_getpartition(ON, REDUCEMODE, kv, sweepparams.currentLOP, sweepparams.upperlimit, sweepparams.upperpartition, globalparams.POW_BATCHRANGE);
				globalstatsbuffer[p].value += 1;
				
				#ifdef _DEBUGMODE_KERNELPRINTS_TRACE3
				if(localpos % 2 == 0){ cout<<"--- tradreduceandbuffer :: kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + "<<row<<"].data["<<localcol<<"].key: "<<kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].data[localcol].key<<endl; }
				else { cout<<"--- tradreduceandbuffer :: kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + "<<row<<"].data["<<localcol<<"].value: "<<kvdram[globalparams.BASEOFFSETKVS_DESTVERTICESDATA + row].data[localcol].value<<endl; }
				#endif
			}
		}
	}
	return;
}



