#ifndef FPGA_IMPL
checkoutofbounds("set checkpoint::ERROR 862::", u_index, MAX_NUM_UPARTITIONS, NAp, NAp, NAp);
#endif 
import_checkpoint_dram[1 + u_index].finish = 1; // u_index += 1;
import_checkpoint_dram[0].msg = u_index;

#ifndef FPGA_IMPL
checkoutofbounds("set checkpoint::ERROR 863::", v_index, MAX_NUM_UPARTITIONS, NAp, NAp, NAp);
#endif 
export_checkpoint_dram[1 + v_index].finish = 1; // v_index += 1;
export_checkpoint_dram[0].msg = v_index;

